body {
    margin: 0;
    padding: 0;
    background: #2D2F33;
    font-family: 'Varela Round', 'Ionicons';
}

.glassbox {
    box-sizing: border-box;

    position: absolute;
    left: 9.96%;
    right: 9.96%;
    top: 46.19%;
    bottom: -2.15%;

    padding-left: 50px;
    padding-top: 20px;
    padding-right:50px;
    padding-bottom: 20px;

    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 15.1839px 14.0159px rgba(11, 39, 40, 0.07);
    backdrop-filter: blur(8.17597px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 14.0525px;
}