---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Test from "../components/Test.tsx";
---

<Layout title="Welcome to Astro.">
  <section class="flex flex-col items-center justify-center h-screen">
	<Test client:load/>
  </section>
</Layout>
