---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Ripin Densumite">
  <Header />
  <div class="bg-gray-400 border rounded-lg ml-[100px] mr-[100px]">
    <h1>sad</h1>
  </div>
</Layout>
