---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.svelte";
import About from "../components/About.astro";
import Blog from "../components/Blog.svelte";
---

<Layout title="Ripin Densumite">
  <!-- <div class="bg-red-400"> -->
  <div class="sm:mx-[15%] sm:border-2">
    <Navbar />
    <About />
    <Blog />
  </div>
  <!-- </div> -->
</Layout>
