---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.svelte";
import About from "../layouts/About.astro";
import Blog from "../layouts/Blog.svelte";
import Project from "../layouts/Projects.svelte";
---

<Layout title="Ripin Densumite">
  <!-- <div class="bg-red-400"> -->
  <div class="sm:mx-[15%] sm:border-x-2">
    <Navbar />
    <About />
    <Blog />
    <Project />
  </div>
  <!-- </div> -->
</Layout>
