---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/button';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col items-center justify-center h-screen">
		<Button client:visible/>
	</main>
</Layout>
