---

---

<section
  class="mx-auto px-6 flex flex-col justify-center items-center min-h-screen text-center bg-[#151719]"
>
  <h1
    class="text-7xl md:text-8xl font-bold tracking-tight transition text-[#e24f22] hover:text-gray-600"
  >
    RipinDensumite
  </h1>
  <div class="mt-[3em] flex flex-col md:flex-row">
    <a href="https://github.com/RipinDensumite">
      <div
        class="card w-96 bg-[#f5f0eb] text-[#151719] m-3 hover:bg-[#151719] hover:text-[#f5f0eb] transition"
      >
        <div class="card-body items-center text-center">
          <h2 class="card-title">Github</h2>
        </div>
      </div>
    </a>
    <a href="https://www.instagram.com/ripin_densumite/">
      <div
        class="card w-96 bg-[#f5f0eb] text-[#151719] m-3 hover:bg-[#151719] hover:text-[#f5f0eb] transition"
      >
        <div class="card-body items-center text-center">
          <h2 class="card-title">Instagram</h2>
        </div>
      </div>
    </a>
  </div>
</section>
