---

---

<section class="py-4">
  <div class="flex flex-col sm:flex-row items-center justify-center">
    <div class="basis-1/4 mx-2">
      <div class="avatar">
        <div class="w-40 h-40 sm:w-64 sm:h-64 rounded-full">
          <img src="https://avatars.githubusercontent.com/u/52118329?v=4" />
        </div>
      </div>
    </div>
    <div class="basis-1/2 mx-2 font-mono">
      <h2 class="sm:text-2xl font-semibold leading-loose">RipinDensumite</h2>
      <p class="text-lg font-normal leading-relaxed">
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem
        ipsumLorem ipsum Lorem ipsum Lorem ipsum... Nothing to see... yet.
      </p>
    </div>
  </div>
</section>
